{% extends 'creative/base/layout.html.twig' %}

{% block body %}
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-lg-6">
                  <h3>Avatars</h3>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html.twig">Home</a></li>
                    <li class="breadcrumb-item">Base</li>
                    <li class="breadcrumb-item active">Avatars</li>
                  </ol>
                </div>
                <div class="col-lg-6">
                  <!-- Bookmark Start-->
                  <div class="bookmark pull-right">
                    <ul>
                      <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                      <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                      <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                      <li><a href="#" data-container="body" data-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                      <li><a href="#"><i class="bookmark-search" data-feather="star"></i></a>
                        <form class="form-inline search-form">
                          <div class="form-group form-control-search">
                            <input type="text" placeholder="Search..">
                          </div>
                        </form>
                      </li>
                    </ul>
                  </div>
                  <!-- Bookmark Ends-->
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="user-profile">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>Sizing</h5>
                    </div>
                    <div class="card-body avatar-showcase">
                      <div class="avatars">
                        <div class="avatar"><img class="img-100 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-90 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-80 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-70 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-60 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-50 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-40 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-30 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-20 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>Status Indicator</h5>
                    </div>
                    <div class="card-body avatar-showcase">
                      <div class="avatars">
                        <div class="avatar"><img class="img-100 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#">
                          <div class="status status-100 bg-success"> </div>
                        </div>
                        <div class="avatar"><img class="img-90 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#">
                          <div class="status status-90"></div>
                        </div>
                        <div class="avatar"><img class="img-80 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#">
                          <div class="status status-80 bg-success"></div>
                        </div>
                        <div class="avatar"><img class="img-70 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#">
                          <div class="status status-70"></div>
                        </div>
                        <div class="avatar"><img class="img-60 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#">
                          <div class="status status-60 bg-success"></div>
                        </div>
                        <div class="avatar"><img class="img-50 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#">
                          <div class="status status-50"> </div>
                        </div>
                        <div class="avatar"><img class="img-40 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#">
                          <div class="status status-40"></div>
                        </div>
                        <div class="avatar"><img class="img-30 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#">
                          <div class="status status-30"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>Initials</h5>
                    </div>
                    <div class="card-body avatar-showcase">
                      <div class="avatars">
                        <div class="avatar"><img class="img-100 rounded-circle" src="{{ asset('creative/assets/images/user/16.png') }}" alt="#"></div>
                        <div class="avatar"><img class="img-90 rounded-circle" src="{{ asset('creative/assets/images/user/16.png') }}" alt="#"></div>
                        <div class="avatar"><img class="img-80 rounded-circle" src="{{ asset('creative/assets/images/user/16.png') }}" alt="#"></div>
                        <div class="avatar"><img class="img-70 rounded-circle" src="{{ asset('creative/assets/images/user/16.png') }}" alt="#"></div>
                        <div class="avatar"><img class="img-60 rounded-circle" src="{{ asset('creative/assets/images/user/16.png') }}" alt="#"></div>
                        <div class="avatar"><img class="img-50 rounded-circle" src="{{ asset('creative/assets/images/user/16.png') }}" alt="#"></div>
                        <div class="avatar"><img class="img-40 rounded-circle" src="{{ asset('creative/assets/images/user/16.png') }}" alt="#"></div>
                        <div class="avatar"><img class="img-30 rounded-circle" src="{{ asset('creative/assets/images/user/16.png') }}" alt="#"></div>
                        <div class="avatar"><img class="img-20 rounded-circle" src="{{ asset('creative/assets/images/user/16.png') }}" alt="#"></div>
                        <div class="avatar"><img class="img-10 rounded-circle" src="{{ asset('creative/assets/images/user/16.png') }}" alt="#"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 xl-100">
                  <div class="card">
                    <div class="card-header">
                      <h5>Shape</h5>
                    </div>
                    <div class="card-body avatar-showcase">
                      <div class="avatars">
                        <div class="avatar"><img class="img-100 b-r-8" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-90 b-r-30" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-80 b-r-35" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-70 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-60 b-r-25" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar"><img class="img-50 b-r-15" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 xl-100">
                  <div class="card">
                    <div class="card-header">
                      <h5>Ratio</h5>
                    </div>
                    <div class="card-body avatar-showcase">
                      <div class="avatars">
                        <div class="avatar ratio"><img class="b-r-8 height-100" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar ratio"><img class="b-r-8 height-90" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar ratio"><img class="b-r-8 height-80" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar ratio"><img class="b-r-8 height-70" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar ratio"><img class="b-r-8 height-60" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                        <div class="avatar ratio"><img class="b-r-8 height-50" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt="#"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>Groups</h5>
                    </div>
                    <div class="card-body avatar-showcase">
                      <div class="customers d-inline-block avatar-group">
                        <ul>
                          <li class="d-inline-block"><img class="img-70 rounded-circle" src="{{ asset('creative/assets/images/user/3.jpg') }}" alt=""></li>
                          <li class="d-inline-block"><img class="img-70 rounded-circle" src="{{ asset('creative/assets/images/user/5.jpg') }}" alt=""></li>
                          <li class="d-inline-block"><img class="img-70 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt=""></li>
                        </ul>
                      </div>
                      <div class="customers d-inline-block avatar-group">
                        <ul>
                          <li class="d-inline-block"><img class="img-50 rounded-circle" src="{{ asset('creative/assets/images/user/3.jpg') }}" alt=""></li>
                          <li class="d-inline-block"><img class="img-50 rounded-circle" src="{{ asset('creative/assets/images/user/5.jpg') }}" alt=""></li>
                          <li class="d-inline-block"><img class="img-50 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt=""></li>
                        </ul>
                      </div>
                      <div class="customers d-inline-block avatar-group">
                        <ul>
                          <li class="d-inline-block"><img class="img-40 rounded-circle" src="{{ asset('creative/assets/images/user/3.jpg') }}" alt=""></li>
                          <li class="d-inline-block"><img class="img-40 rounded-circle" src="{{ asset('creative/assets/images/user/5.jpg') }}" alt=""></li>
                          <li class="d-inline-block"><img class="img-40 rounded-circle" src="{{ asset('creative/assets/images/user/1.jpg') }}" alt=""></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('creative/assets/js/chat-menu.js') }}"></script>
    <script src="{{ asset('creative/assets/js/tooltip-init.js') }}"></script>
{% endblock %}