{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{{ asset('admin/assets/css/scrollspyNav.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/assets/css/components/cards/card.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}">
    <!--  END CUSTOM STYLE FILE  -->

    <style>
        .meta-date {
            margin-bottom: 5px;
            font-size: 12px;
            font-weight: 600;
            color: #009688; }

        .meta-info {
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
            padding-top: 15px; }
        .meta-action {
            display: flex; }
        .meta-likes {
            align-self: center;
            margin-right: 13px;
            color: #009688; }
         .meta-view {
            align-self: center;
            color: #009688; }
    </style>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/article/show.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="main-content" id="content">
        <div class="layout-px-spacing">

            <div class="container">
                <div class="container">
                    <div class="row layout-spacing layout-top-spacing">
                        <div class="col-lg-12">
                            <div class="wizard">
                                <div class="widget-content widget-content-area bx-top-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table class="table">
                                                <thead>

                                                </thead>
                                                <tbody>
                                                {% for article in articles %}
                                                    <tr>
                                                        <td>{{ article.title }}</td>
                                                        <td>{{ article.author }}</td>
                                                        <td>{{ article.nonDeletedComments|length }}</td>
                                                        <td>{{ article.publishedAt ? article.publishedAt|ago : '' }}</td>
                                                        <td><a href="{{ path('article_show', { slug: article.slug }) }}"><i class="fa fa-eye"></i></a></td>
                                                        <td>{% for tag in article.tags %}
                                                                <small>
                                                                    <span class="badge badge-light">{{ tag.name }}</span>
                                                                </small>
                                                            {% endfor %}
                                                        </td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p class="">Copyright © 2020 <a target="_blank" href="https://designreset.com">DesignReset</a>, All rights reserved.</p>
            </div>
            <div class="footer-section f-section-2">
                <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
            </div>
        </div>
    </div>
{% endblock %}