<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {#
    esto sirve para ver los mensajes sin borrarlos antes ya que el otro metodo los ve solo una vez
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}"> #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('admin_article_new') }}" class="btn btn-primary pull-right">
        Create <span class="fa fa-plus-circle"></span>
    </a>
    <h1>All Articles</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Published?</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.author.email }}</td>
                <td>
                    <span class="fa fa-{{ article.isPublished ? 'check' : 'times' }}">{{ article.isPublished ? 'a' : 'b' }}</span>
                </td>
                <td><a href="{{ path('curso_symfony_admin_article_edit', { id : article.id}) }}">editar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>